module.exports = {
        apps: [
                {
                        name: "dashboard-07-21",
                        script: __dirname + '/../../main.py',
                        args: [ "-s", __dirname + '/settings.json' ],
                        interpreter: 'python3',
                        cwd: __dirname,
                        log_date_format: "YYYY-MM-DD HH:mm Z",
                        max_memory_restart: "3G",
                }
        ]
};